---
type: page
title: ID Verification
listed: true
slug: identity-verification
description: 
index_title: ID Verification
hidden: 
keywords: 
tags: 
---

{% synced id="idv-overview2" %}
{% /synced %}

{% html %}
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/647416549?h=e408543512&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&dnt=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AVS_IDV_SHORT.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
{% /html %}

If you wish to enable the Identity verification service as an option to perform an age verification service. This solution may take longer to verify your users. 

{% synced id="avs-idv-config" %}
{% /synced %}

{% synced id="avs-idv-authenticity-explained" %}
{% /synced %}