---
type: page
title: ID Verification
listed: true
slug: id-verification
description: 
index_title: ID Verification
hidden: 
keywords: 
tags: 
---

{% synced id="idv-overview2" %}
{% /synced %}

To integrate the IDV age verification method directly with our API, the create session API call is first needed with "doc_scan" as an option.

{% synced id="avs-idv-authenticity-explained" %}
{% /synced %}